@use "../../styles/partials/variables" as *;

.edit-rating {
  display: none;

  &__container {
    padding-right: 1rem;
    padding-left: 0.9rem;
    border-left: 2px solid $darkGreen;
    background-color: $lightOlive;
  }
}

.heart {
  margin-bottom: 0;
  padding-left: 0.5rem;
  transition: color (300ms) ease;
  cursor: pointer;
}
