@use '../../styles/partials/variables' as *;

.rating{
    display: none;
}

.heart{
    // border-right: 1px solid $green;
    margin:0.5rem;
    margin-bottom:0;
    transition: (300ms) ease-out;
    cursor: pointer;

}