@use "../../styles/partials/variables" as *;

  .add {

    &-book{
      &__slot {
        width: 3rem;
        height: 12.5vh;
        margin: 0.2rem;
        border: 2px solid rgb(0, 0, 0, 0.1);
        writing-mode: tb-rl;
        font-size: 10px;
        font-weight: 600;
        text-align: center;
        color: $yellow;
        // background-color: $lightBrown;
        border:2px solid $darkGreen;
    
    
        &:hover {
          border: 2px solid $yellow;
          transition: (200ms);
        }
      }
      &__container {
        display: flex;
        flex-direction: row;
        align-items:end;
      }
      
      &__down.active {
        position:absolute;
        margin-left:1.5rem;
        opacity: 1;
        visibility: visible;
        transform: translateY(-7rem);
        transition: (500ms) ease;
      }
    
      &__down.inactive {
        position:absolute;
        margin-left:1.5rem;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10rem);
        transition: (500ms) ease;
      }
    }
  }

  