@use "../../styles/partials/variables" as *;

  .add {

    &-book{
      &__container {
        display: flex;
        flex-direction: row;
        align-items:end;
      }
      
      &__down.active {
        position:absolute;
        margin-left:1.5rem;
        opacity: 1;
        visibility: visible;
        transform: translateY(-7rem);
        transition: (500ms) ease;
      }
    
      &__down.inactive {
        position:absolute;
        margin-left:1.5rem;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10rem);
        transition: (500ms) ease;
      }
    }
  }

  