@use "../../styles/partials/variables" as *;

.main{
    &__container{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        background-color:$olive;
        height:85vh;
        width: 520px;
        margin:1rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        border:2px solid $darkGreen;
       
    }

}