$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$green: #95B294;
$lightGreen: #F4F6F1;
$darkGreen:#516650;
$olive: #A8B094;
$lightOlive:#D3DBC7;

$brown:#4B1F19;
$lightBrown:#8F532F;

$yellow:#F4C32F;