$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$green: #95b294;
$lightGreen: #f4f6f1;
$darkGreen: #516650;
$olive: #a8b094;
$lightOlive: #d3dbc7;

$brown: #4b1f19;
$lightBrown: #8f532f;

$yellow: #d6b81a;
$red: #f84b4b;

$purple: #6e23ff;
$darkPurple: #50007b;

$blue: #93dcff;
$darkBlue: #01044f;

$pink: #ff9ed5;
$darkPink: #c83481;

$turq: #44c6b1;
$darkTurq: #157969;
