@use "../../styles/partials/variables" as *;
.edit{
    &__shelf{
        display:flex;
        flex-wrap: wrap;
        background-color: $lightOlive;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        height: 13vh;
        margin: 0.5rem;
    }
}