@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  flex-direction: row;

  &__title {
    color: $brown;
    font-size: 6.2rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    align-self: flex-end;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $olive;
    border: 2px solid $darkGreen;
    width: 520px;
    min-height: 10vh;
    height: 12rem;
    min-width: 540px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  &__nav {
    display: flex;
    align-items: start;

    &--search {
      background-color: $lightOlive;
      border: none;
      z-index: 1;
      border-radius: 40px;
      padding: 0.7rem;
      background-image: url("../../assets/icons/search.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 2% center;
      width: 13rem;
      height: 3rem;
      padding-left: 3rem;
      margin-top: 0.5rem;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      outline: none;

      &:active {
        border: 1px, solid $darkGreen;
      }
    }
    &--menu {
      height: 8vh;
      margin-top: -0.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
.menu {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(1rem);
    transition: (500ms) ease;
  }

  &__dropdown.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);
    transition: (500ms) ease;
  }
}

.search{
  &__container{
    display:flex;
    flex-direction:column;
    position:absolute;
    width:13rem;
    top:2rem;
    background-color: $lightOlive;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    padding-top:2rem;

  }
  &__text{
    font-size: 1.3rem;
    margin:0.5rem;
    padding-bottom:1rem;
    border-bottom:1px dotted $darkGreen;

    &:hover{
      cursor: pointer;
      color:$darkGreen;
    }
}
}