@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as * ;

.login{
    
    
    &__container{
        display:flex;
        flex-direction: row;
        background-color: $lightGreen;
        border-radius:10px;
        border:1px solid $darkGreen;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        width:480px;
        padding:2rem;
        min-height:30vh;
        min-width:350px;
        margin:auto;
        margin-top:10rem;

    }
    &__title{
        font-size:3.6rem;
        font-weight: 700;
        margin:0;
    }
    &__img{
         height:25vh;
         padding:0;
    }
    &__quote{
        margin-bottom:0;
    }
    &__author{
        font-size: 1.4rem;
        font-weight:600;
        margin-bottom:3rem;
        margin-top:0.5rem;
    }
    &__welcome{
        color:$brown;
        font-weight: 400;
        text-align: center;
        min-width:40%;
    }
    &__link{
        color:$brown;
        text-decoration: none;
        font-weight: 600;
        background-color: $green;
        padding-left:3rem;
        padding-right:3rem;
        padding-top:1rem;
        padding-bottom:1rem;
        border-radius: 50px;
    }
}