@use "../../styles/partials/variables" as *;

.delete {
    &__modal{
        display:flex;
        justify-content: space-around;
        position: absolute;
        top:25.7rem;
        right:2.5rem;
        background-color: $lightBrown;
        border-radius: 10px;
        border: 2px solid $brown;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
        width:15rem;
        
    }
    &__text{
        font-size: 1.8rem;
        font-weight: 600;
        padding:1rem;
        margin:0;

        &-right{
            border-left:2px solid $brown;
            padding-right:0.5rem;
        }

        &:hover{
            color:$yellow;
            text-decoration: underline;
        }

    }
}
