@use "../../styles/partials/variables" as *;

.main {
  &__slot {
    width: 2rem;
    height: 12.5vh;
    margin: 0.2rem;
    border: 2px solid rgb(0, 0, 0, 0.1);

    &:hover {
      border: 2px solid $darkGreen;
      transition: (200ms);
    }
  }
}


