@use "../../styles/partials/variables" as *;

.main {
  &__slot {
    display:flex;
    width: 3.2rem;
    height: 12.5vh;
    margin: 0.2rem;
    border: 2px solid rgb(0, 0, 0, 0.1);
    writing-mode: tb-rl;
    font-size: 10px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $yellow;
    background-color: $lightBrown;
    border:2px solid $brown;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);



    &:hover {
      border: 3px solid $yellow;
      transition: (200ms);
    }
  }

  &__shelf-books{
    display: flex;
    flex-wrap: wrap;
    background-color: $lightOlive;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    // height: 13vh;
    margin: 0.5rem;
  }
}

.clicked{

  &__book.active{
    position:absolute;
    margin-left:1.5rem;
    opacity: 1;
    visibility: visible;
    transition: (500ms) ease;
  }

  &__book.inactive{
    position:absolute;
    margin-left:1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: (500ms) ease;
  }
}
